* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(75, 48, 58);
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    perspective: 600px;
    position: relative;
}

.book::before {
    content: '';
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 100%;
    right: 50%;
    background-color: rgb(99, 114, 141);
    border-radius: 20px 0 0 20px;
    transform-origin: center right;
    transform: rotateY(180deg);
    transition: 0.7s ease all;
}

.book:hover::before {
    transform: rotateY(0deg);
}

.book .pg {
    color: rgb(189, 174, 153);
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.book .pg.pg1 {
    background-color: rgb(100, 76, 104);
    border-radius: 20px 0 0 20px;
    left: 0;
}

.book .pg.pg2 {
    background-color: rgb(63, 83, 63);
    right: 0;
    border-radius: 0 20px 20px 0;
}